body{
    background-color: whitesmoke;
    width:  300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    text-transform: capitalize;
    line-height: 16px;
    font-size: 16px;
}
.div_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
margin-top: 10px;
}
span{
    font-size: 14px;
    font-weight: 500;
}
.picked-color{
   width: 15px;
   height: 15px;
   display: inline-block;
}
.d-block{
    display: block;
}
.info{
    color: green;
}
button{
    background-color: rgb(180, 104, 11);
    border:0;
    outline: 0;
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 500;
    color: aliceblue;
    text-transform: uppercase;
}

